/* BarraNavegacao.module.css */
.conteiner {
    background-color: #141414;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: white; /* Cor branca para os links */
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500; /* Deixa o texto um pouco mais forte */
}

.menu li a span:first-child {
    margin-right: 5px;
    font-size: 1.5rem;
}

.menu li a:hover {
    color: #c93196; /* Cor de hover, para quando passar o mouse */
}

/* Barra de pesquisa */
.search input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 250px; /* Aumentei a largura da barra de pesquisa */
    transition: width 0.3s ease-in-out;
    color: white; /* Cor do texto dentro da barra de pesquisa */
    background-color: #333; /* Cor de fundo da barra de pesquisa */
}

.search input::placeholder {
    color: white; /* Cor do texto de placeholder (Pesquisar...) */
}

.search input:focus {
    width: 350px; /* Aumenta mais a largura quando o campo recebe foco */
}

/* Responsividade */
@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .search input {
        width: 100%;
        margin-top: 10px;
    }
}
